@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --header-height: 3rem;
    --footer-height: 3rem;
    --input-height: 3rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: white;
    background: black;
}

.smooth-transition {
    transition: all 0.5s ease-in-out;
}

.fade-out-right {
    animation: fadeOutRight 0.5s forwards;
}
@keyframes fadeOutRight {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(50%);
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.shake-horizontal {
    animation: horizontal-shaking 0.2s 2 ease-in-out;
}
@keyframes horizontal-shaking {
    0% {
        transform: translateX(0)
    }
    25% {
        transform: translateX(5px)
    }
    50% {
        transform: translateX(-5px)
    }
    75% {
        transform: translateX(5px)
    }
    100% {
        transform: translateX(0)
    }
}

/*Style used for overlaying the output over an input field*/
#container {
    margin: 0 auto;
    position: relative;
}

.history-entry-time {
    font-size: 0.8rem;
    color: rgba(var(--foreground-rgb), 0.5);
    width: 5rem;
    overflow: visible;
    padding-right: 0.5rem;
}

.history-entry-input {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(var(--foreground-rgb), 0.8);
    width: 55%;
    overflow-x: auto;
    overflow-y: hidden;
}

.history-entry-output {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(var(--foreground-rgb), 0.8);
    width: 30%;
    overflow-x: auto;
    overflow-y: hidden;
}

.history-entry-equals {
    font-size: 1.2rem;
    font-weight: 500;
    color: rgba(var(--foreground-rgb), 0.8);
    width: 5%;
    overflow: hidden;
}

.history-entry-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(var(--foreground-rgb), 0.1);
    margin-bottom: 0.5rem;
}

.history-entry-button:hover {
    background-color: rgba(var(--foreground-rgb), 0.2);
}

.history-entry-delete {
    width: 5%;
    background-color: rgba(var(--foreground-rgb), 0.1);
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.history-entry-delete:hover {
    background-color: rgb(222, 95, 91);
}

.history::-webkit-scrollbar {
    width: 10px;
}

.history::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 10px;
}

.history::-webkit-scrollbar-thumb {
    background: rgb(159, 52, 52);
    border-radius: 10px;
}

.history::-webkit-scrollbar-thumb:hover {
    background: rgb(222, 95, 91);
}

.smallScroll::-webkit-scrollbar {
    height: 4px;
}

.smallScroll::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 3px;
}

.smallScroll::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 3px;
}

.smallScroll::-webkit-scrollbar-thumb {
    background: rgb(159, 52, 52);
    border-radius: 10px;
}

.smallScroll::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 95, 91, 1);
}

.result {
    font-size: 2rem;
    font-weight: 500;
    color: rgba(var(--foreground-rgb), 0.8);
    width: 100%;
    overflow: hidden;
    margin-right: 0.5rem;
    text-overflow: ellipsis;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.calc-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: rgb(52, 52, 52);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    overflow: clip;
}

.animate-click {
    animation: clickAnimation 0.3s ease;
    -webkit-animation-fill-mode: forwards;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.calc-button:hover {
    background-color: rgb(73, 73, 73);
}

.calc-button:active {
    background-color: rgb(73, 73, 73);
}

.calc-number {
    background-color: rgb(89, 89, 89);
}

.calc-number:hover {
    background-color: rgb(134, 134, 134);
}

.calc-number:active {
    background-color: rgb(134, 134, 134);
}

.calc-special {
    background-color: rgb(159, 52, 52);
}

.calc-special:hover {
    background-color: rgb(222, 95, 91);
}

.calc-special:active {
    background-color: rgb(222, 95, 91);
}

input::placeholder {
    color: white;
    opacity: 0.3;
}
